{% extends 'base.html' %}
{% load static %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="font_Gogh fs_40 cake_blue mb-4 text-center">Политика обработки персональных данных</h1>
            
            <div class="cake_grey fs_14 lh-lg">
                <p>1. Общие положения</p>
                <p>Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных»...</p>
                
                <p>2. Цели обработки данных</p>
                <p>Обработка персональных данных Пользователя осуществляется в целях заключения, исполнения и прекращения гражданско-правовых договоров; предоставления доступа Пользователю к сервисам, информации и/или материалам, содержащимся на веб-сайте...</p>
                
                <p>3. Перечень данных</p>
                <p>Мы обрабатываем следующие данные: фамилия, имя, отчество; номер телефона; адрес электронной почты; адрес доставки...</p>
                
                <p>4. Ваши права</p>
                <p>Пользователь имеет право на получение информации, касающейся обработки его персональных данных...</p>
                
                <p class="mt-4 text-center">
                    <button type="button" class="btn cake__button cake__bg_pink text-white rounded-pill px-5" data-bs-dismiss="modal">Закрыть</button>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}